<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Contact App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [hidden]="accountService.getCurrentUser()==null" routerLink="/customers/list/page/1" routerLinkActive="active">Lists</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto" *ngIf="accountService.getCurrentUser()==null">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
        </ul>
        <div class="dropdown" dropdown *ngIf="accountService.getCurrentUser()!=null">
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{ accountService.getCurrentUser()?.username | titlecase }}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/account/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>